[project]
	state = active
[access "refs/heads/*"]
	owner = group kokimaintainer
	create = group kokimaintainer
	push = +force group kokimaintainer
	pushMerge = group kokimaintainer
	label-Code-Review = -2..+2 group kokimaintainer
	label-Verified = -1..+1 group kokimaintainer
	rebase = group kokimaintainer
